<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vacationproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".DetailInsect.DetailInsect6"
            android:exported="false" />
        <activity
            android:name=".DetailInsect.DetailInsect5"
            android:exported="false" />
        <activity
            android:name=".DetailInsect.DetailInsect4"
            android:exported="false" />
        <activity
            android:name=".DetailInsect.DetailInsect3"
            android:exported="false" />
        <activity
            android:name=".DetailInsect.DetailInsect2"
            android:exported="false" />
        <activity
            android:name=".DetailInsect.DetailInsect1"
            android:exported="false" />
        <activity
            android:name=".Quiz.BlankQuiz"
            android:exported="false" />
        <activity
            android:name=".StudyActivity.InsectStudyActivity"
            android:exported="false" />
        <activity
            android:name=".DetailBird.DetailBird4"
            android:exported="false" />
        <activity
            android:name=".DetailBird.DetailBird3"
            android:exported="false" />
        <activity
            android:name=".DetailBird.DetailBird2"
            android:exported="false" />
        <activity
            android:name=".DetailBird.DetailBird"
            android:exported="false" />
        <activity
            android:name=".StudyActivity.BirdStudyActivity"
            android:exported="false" />
        <activity
            android:name=".DetailPlant.DetailPlant4"
            android:exported="false" />
        <activity
            android:name=".DetailPlant.DetailPlant3"
            android:exported="false" />
        <activity
            android:name=".DetailPlant.DetailPlant2"
            android:exported="false" />
        <activity
            android:name=".Quiz.QuizStartActivity"
            android:exported="false" />
        <activity
            android:name=".Quiz.YesNoQuiz"
            android:exported="false" />
        <activity
            android:name=".DetailPlant.DetailPlant"
            android:exported="false" />
        <activity
            android:name=".StudyActivity.PlantStudyActivity"
            android:exported="false" />
        <activity
            android:name=".DetailFish.DetailFish"
            android:exported="false" />
        <activity
            android:name=".DetailFish.DetailWhiteSlime"
            android:exported="false" />
        <activity
            android:name=".DetailFish.DetailWhiteFish"
            android:exported="false" />
        <activity
            android:name=".DetailFish.DetailRedFish"
            android:exported="false" />
        <activity
            android:name=".StudyActivity.FirstStudyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>